{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Backoffice{% endblock %}
{% block stylesheets %}{{ parent() }} <link rel="stylesheet" href="{{ asset('css/bo.css') }}" /> {% endblock %}
{% block body %}

    <header>
        <h1>Backoffice</h1>
    </header>
    <div class="col-md-4 col-md-offset-4 text-center">
        <a href="{{ path('sock_new') }}" class="btn btn-success">Entrer une nouvelle paire de chaussettes</a>
    </div>

    <table class="col-md-8 col-md-offset-2 col-xs-12">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Chaussettes</th>
                <th>A voté</th>
                <th>Votes pour les chaussettes</th>
                <th>Votes restant</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sock in socks %}
            <tr>
                <td><a href="{{ path('sock_show', { 'id': sock.id }) }}">{{ sock.id }}</a></td>
                <td>{{ sock.firstName }}</td>
                <td>{{ sock.lastName }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ sock.imgUrl) }}" width="200px" height="auto"></td>
                <td>{{ sock.hasVoted }}</td>
                <td>{{ sock.sockVoteCount }}</td>
                <td>{{ sock.personVoteCount }}</td>
                <td>{{ sock.email }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('sock_show', { 'id': sock.id }) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('sock_edit', { 'id': sock.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
